html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* hot pink - #ff1c50 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Create a wrapper to center the content */
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 70%;
  }
  
  /* Style the header section */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    height: 100vh;
}

nav ul {
    list-style-type: none;
    padding-top: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color:#ff1c50;
    color: #333;
    border-radius: 5px;
}

/* ... (existing CSS styles) ... */

/* Add CSS rules for the navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; 
  padding: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 100;
}

main {
  padding-top: 70px; 
}


.hello {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); 
}

.hello p {
    font-size: 20px;
}

.hello h1 {
    font-size: 8rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

.cuesta{
  color: #ff1c50;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:#ff1c50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.typewriter-effect {
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Prevent line breaks */
  animation: typing 3s steps(40, end);
}

.typewriter-effect::after {
  content: ""; /* Hide the cursor */
  display: inline-block;
  width: 0;
}

.cuesta {
  color: #ff1c50;
}


.btn:hover {
    background-color: #555;
}
  /* Style the main content section */
  .aboutMe {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.skills {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background: #333;
}

.skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.skills li i {
  font-size: 48px;
  margin: 0px 20.5px 10px 20.5px;
  color: #ff1c50;
}

.skills li span {
  font-size: 16px;
  text-align: center;
  color: #ff1c50;
}

section .content {
    text-align: center;
    max-width: 800px;
}

section h2 {
    font-size: 6rem;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.aboutMe p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.skills h2 {
  color: #fff;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

ul li {
    margin-right: 10px;
}
  /* Style the project cards */

  img {
    width: 300px;
    height: 300px;
  }

  .projectContainer {
    display: flex;
  }

  section div {
    padding: 20px;
    border-radius: 5px;
  }
  
  section div h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section div h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  section div p {
    margin-bottom: 20px;
  }

  section .viewBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color:#ff1c50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .viewBtn:hover {
    background-color: #555;
}
  
  /* Style the footer section */
  footer {
    background: #333;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  footer h2 {
    font-size: 6rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  
  footer ul li .fa-brands,
  .fa-solid {
    margin-right: 10px;
    color: #ff1c50;
    font-size: 1.5rem;
  }
  
  footer p {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
  }
  
  footer form {
    margin-top: 20px;
  }
  
  footer form label {
    font-weight: bold;
    color: #fff;
  }
  
  footer form input,
  footer form textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
  }
  
  footer form input[type="submit"] {
    background-color: #ff1c50;
    color: #fff;
    cursor: pointer;
    width: 20%;
  }
  
  footer form input[type="submit"]:hover {
    background-color: #555;
  }
  
  footer .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
  
  footer p:last-child {
    margin-top: 50px;
    font-size: 14px;
  }
  
  footer p:first-child {
    margin-bottom: 20px;
  }

/* Max-width 1200px */
@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 80%;
  }

  .hello h1 {
    font-size: 6rem;
  }

}

/* Max-width 768px */
@media only screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
  }

  .hello h1 {
    font-size: 4rem;
  }

  .hello p {
    font-size: 16px;
  }
}

/* Max-width 320px */
@media only screen and (max-width: 320px) {
  .wrapper {
    width: 95%;
  }

  .hello h1 {
    font-size: 3rem;
  }

  .hello p {
    font-size: 14px;
  }

  header {
    height: auto;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 5px 0;
  }

  .aboutMe,
  .skills {
    height: auto;
  }

  .skills ul {
    justify-content: space-between;
  }

  .skills li {
    width: 30%;
    margin-right: 0;
  }

  section .content {
    max-width: 100%;
  }

  section h2 {
    font-size: 4rem;
  }

  section div {
    padding: 10px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .projectContainer {
    flex-direction: column;
  }

  .projectContainer div {
    margin: 20px 0;
  }

  .projectContainer div h3 {
    font-size: 20px;
  }

  .projectContainer div h4 {
    font-size: 14px;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }

}
